*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image_window{
    position: relative;
    max-width: 600px; /* Change the width of the slider */
    height: 800px; 
    border-radius: 20px;
    z-index: 9999;
    overflow: hidden;

}

.all_images{
    position: relative;
    display: flex;
    width: max-content;
    height: inherit;
    transform: translateX(0px);
    transition: transform .25s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.all_images img{
    width: 600px; /* Change the width of the image, make sure that .image_window is the same size as image! */
    height: inherit;
}

@media only screen and (max-width: 575px) {
    .image_window{
        max-width: 400px;
        height: 600px;
    }

    .all_images img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}